<<<<<<< HEAD
<h1>Welcome to Home Index</h1>
=======
<%= render 'layouts/client_navbar' %>
<h1><%= "Welcome #{current_user.email}" %></h1>
>>>>>>> d2492ad ([Feature 3] adding details to erb files)
<p>Welcome to Home Index</p>
