<%= render 'layouts/client_navbar' %>

<h1 class="text-center my-0">CREATE NEW ADDRESS</h1>
<h5 class="text-center" style="color: #aba8a8"><%= "account: #{current_user.email}" %></h5>

<%= render partial: "form", locals: {address: @address, path: user_addresses_path} %>

<%= render "layouts/client_footer" %>