<header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"><h5>Brand Name</h5></a>
  <ul class="nav nav-pills mt-2">
    <li><button class="btn btn-outline-warning mx-2">Coins</button></li>
    <li><button class="btn btn-outline-primary mx-2">Claims</button></li>
    <li class="nav-fill dropdown">
      <a href="#" class="btn btn-outline-dark dropdown-toggle mx-2" data-bs-toggle="dropdown">Language</a>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item">English</a>
        <a href="#" class="dropdown-item">Chinese</a>
      </div>
    </li>
   <li>
     <%= button_to "Log Out", destroy_admin_user_session_path, { onclick: "return confirm('Are you sure you want to delete?')", method: :delete, class: "dropdown-item" } if admin_user_signed_in? %>
   </li>
    <li class="nav-item dropdown ms-auto">
      <a href="#" class="m-1 p-3 navbar-toggler-icon border border-2 border-dark" style="color: black; appearance: none;" data-bs-toggle="dropdown"></a>
      <div class="dropdown-menu dropdown-menu-end">
        <a href="#" class="dropdown-item">Settings</a>
        <div class="dropdown-divider"></div>
        <% if admin_user_signed_in? %>

        <% else %>
          <%= link_to "Login", new_admin_user_session_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </li>
  </ul>
</header>