<footer class="text-center text-lg-start bg-light text-muted mt-auto">
  <div class="container-fluid">
  <div class="d-inline">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-dark" style="padding: 5px 35px 5px 35px;">SHARE</button>
      <button type="button" class="btn btn-outline-dark" style="padding: 5px 35px 5px 35px;" >INVITE</button>
      <button type="button" class="btn btn-outline-dark" style="padding: 5px 35px 5px 35px;">LOTTERY</button>
      <button type="button" class="btn btn-outline-dark" style="padding: 5px 35px 5px 35px;">SHOP</button>
      <button type="button" class="btn btn-outline-dark" style="padding: 5px 35px 5px 35px;">ME</button>
    </div>

  </div>
  </div>
</footer>