<div class="mt-2 bg-light d-flex justify-content-center">
  <section class="py-3">
    <a class="mx-5" href="#" style="color: black; text-decoration: none">SHARE</a>
    <%= link_to "INVITE", user_invites_path, class: "mx-5", style: "color: black; text-decoration: none" if user_signed_in? %>
    <%= link_to "LOTTERY", user_lotteries_path, class: "mx-5", style: "color: black; text-decoration: none" %>
    <%= link_to "SHOP", user_shop_index_path, class: "mx-5", style: "color: black; text-decoration: none" %>
    <%= link_to "ME", user_user_profile_path, class: "mx-5", style: "color: black; text-decoration: none" if user_signed_in? %>
  </section>
</div>
<div class="text-center text-dark p-2" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2022 Copyright:
  <a class="text-dark" href="https://github.com/brynex20/side_project.git">Koda Camp Side Project</a>
</div>
