<h1 class="text-center">Client Log in Page</h1>

<div class="btn-group" style="padding: 15px 40px 15px 40px" role="group" aria-label="Basic example">
  <%= link_to "Login", new_user_session_path, class: "btn btn-outline-warning" %>
  <%= link_to "Register", new_user_registration_path, class: "btn btn-outline-warning" %>
</div>